/* GENERAL */

h1 {
  color: cadetblue;
}
h2 {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.hello {
  height: 200px;
  width: 300px;
  background-color: blueviolet;
}
.git h1 {
  color: blue;
}

.git {
  background-color: aquamarine;
  height: 400px;
  width: 600px;
}
p {
  color: rgb(38, 145, 188);
}
